.burgerIngridients{
  height: 290px;
  width: 100%;
  overflow: auto;
}

.burgerIngridients p{
  text-align: center;
}

.ingridientsBlocks{
  background-color: #f4b46c;
  margin: 30px auto 0;
  display: table;
  width: 100%;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
}

.igridientsBlock{
  width: 10%;
  margin-left: 16vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ingridientsBlocks p{
  width: 100%;
  margin-right: 30px;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.ingrBtns{
  display: flex;
  justify-content: center;
}

.ingrBtn{
  border: 0;
  background-color: #c17116;
  margin: 10px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  display: table;
  width: 95px;
}

.side{
  background-size: 300px;
  height: 110px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}

.top{
  background-image: url(../assets/top.jpg);
}

.bottom{
  background-image: url(../assets/bottom.jpg);
  height: 60px;
}

.tomato {
  width: 40%;
  height: 3%;
  background: linear-gradient(#bf3813, #c45e38);
  margin: 1% auto;
}

.cheese {
  width: 50%;
  height: 4.5%;
  margin: 1% auto;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 20px;
}

.meat {
  width: 45%;
  height: 8%;
  background: linear-gradient(#7f3608, #702e05); /* Simplified background syntax */
  margin: 2% auto;
  border-radius: 15px;
}

.lettuce {
  width: 50%;
  height: 7%;
  margin: 1% auto;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px;
}

